{% extends 'base.html' %}

{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{url_for('static', filename='assets/img/edit-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            {% if is_edit: %}
              <title>Edit</title>
            <h1>Edit Post</h1>
            {% else: %}
              <title>New</title>
            <h1>New Post</h1>
            {% endif %}
            <span class="subheading">You're going to make a great blog post!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='body') }}
        {% block form %}{{super()}}{% endblock %}
      </div>
    </div>
  </div>

  {% block footer %}{{super()}}{% endblock %}
{% endblock %}
